.contenedor{
    display: flex;
    align-items: center;
    margin-top:  3rem;
    justify-content: center;
    gap: 2rem;
}
.boton{
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #ffff;
    box-shadow: 0px 3px 10px 1px rgb(8, 216, 18);
}
.input{
    width: 500px;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #ffff;
    box-shadow: 0px 3px 10px 1px rgb(8, 216, 18);
}
.boton:hover{
    border-color: #17FD03;
    color: #17FD03;
}