.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.titulo {
    font-size: clamp(3em, 4vw, 4em);
    color: #fff;
    text-shadow: 1px 2px 0px #17FD03;
    -webkit-text-stroke: 4px #18181B;
    text-align: center;
    padding-right: 50px;
}
.preciototal{
    text-align: center;
    font-size: clamp(1em, 2.50vw, 3em);
    color: #fff;
    text-shadow: 1px 2px 0px #17FD03;
    -webkit-text-stroke: 2px #18181B;
    text-align: center;
    padding-right: 50px;
}
.ordencompra{
    display: flex;
    justify-content: center;
    gap: 10rem ;
}
.botonnext {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #ffff;
    box-shadow: 0px 3px 10px 1px rgb(8, 216, 18);
}
.botonnext:hover {
    border-color: #17FD03;
    color: #17FD03;
}
