.contenedor-detalles {
    display: flex;
    gap: 15rem;
}

.contenedor-detalles-imagen {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px rgba(0, 173, 81, 1);
    background-color: #18181B;

}

.contenedor-detalles-imagen p {
    padding: 20px;
}

.imagen-details {
    width: 100%;
    height: 500px;
}

.imagen-details img {
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 2rem;
    object-fit: cover;
}

.contenedor-detalles-texto {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 5rem;
    text-align: center;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 0px rgba(0, 173, 81, 1);
    background-color: #18181B;
    border-color: #ffffff solid 1px;

}

.contenedor-detalles-texto h3 {
    font-size: 25px;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.contenedorac {
    display: flex;
    flex-direction: column;
}

.linkcolor {
    color: #17FD03;
}

.linkcolor:hover {
    color: #ffffff;
}