.contenedor-productos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.titulo-productos{
  font-size: clamp(3em,4vw,7em);
  color: #fff;
  text-shadow: 1px 2px 0px #17FD03;
  -webkit-text-stroke: 4px #18181B;
  text-align: center;
  margin-bottom: 30px;
}
.selector-productos{
  margin-bottom: 30px;
  padding: 10px;
  border-color: #17FD03;
  background-color: #18181B;

}
.selector-productos:focus{
  border-color: #17FD03;
}
.contenedor-selector{
  display: flex;
  gap: 2rem;
}
.contenedor-selector p{
 padding-top: 5px;
}