.contenedor-carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contenedor-botones {
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
  border: 1px solid #ffff;
  border-radius: 5px;

}

.parrafo {
  display: flex;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.stock {
  padding-right: 30px;
}

